<style>
  .race_horse {
      width: 100px;
      height: 100px;
      position: absolute;
      margin-top: 175px;
      animation: jostleImage ease-in-out 0.1s infinite alternate paused;
      transition: left 3s linear;
  }

  .race_horse_text {
      background-color: white;
      border-radius: 10px;
  }

  @keyframes jostleImage {
      0%   { transform: rotate(15deg); }
      100% { transform: rotate(-5deg); }
  }
</style>


<div class="race_horse" id="race_horse", style="top: <%= track_index * 19 %>px; left: <%= [100, horse.position].min * 0.90 %>%;">
    <b class="race_horse_text"><%= horse.name.capitalize %></b>
    <%= image_tag horse.image, width: 100, height: 100%>
</div>
