<%= stylesheet_link_tag 'card-layout.css', media: 'all' %>

<div class="card-layout">
  <h1>Account information</h1>

  <table class="info-table">
    <tr>
      <td>
        <label>Username:</label>
      </td>
      <td>
        <%= @user.username %>
      </td>
    </tr>
    <tr>
      <td>
        <label>Email address:</label>
      </td>
      <td>
        <%= @user.email_address %>
      </td>
    </tr>
    <tr>
      <td>
        <label>Balance:</label>
      </td>
      <td>
        $<%= number_with_precision(@user.balance, precision: 2, delimiter: ",") %>
      </td>
    </tr>
  </table>
</div>
