<%= stylesheet_link_tag 'lobby.css', media: 'all' %>

<div id="lobby-body">
    <div id="carpet-div">
        <div id="main-text" class="lobby-main">
            <p>
                Welcome to Casino! <br>
                We are currently under construction but feel free to enjoy some horse races or roulette
                while we finish up the rest.
            </p>
        </div>
    </div> 
    <div class="lobby-game" id="horse-racing">
        <%= button_to horse_racing_lobby_path, method: :post, remote: true do %>
            <h2>Horse Racing</h2>
        <%end%>
    </div>
    <div class="lobby-game" id="roulette">
        <%=link_to roulette_roulette_board_path, method: :post, data: { turbo: false } do%>
            <%= render 'shared/lobby_roulette_wheel'%>
        <%end%>
    </div>
</div>