/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
:root {
  --light-purple: #682484;
  --dark-purple: #3c2a81
}
#animated-image {
    position: absolute;
    animation: moveImage linear;
    animation-fill-mode: forwards;
}

@keyframes moveImage {
    0%   {left: 0%;}
    100% {left: 100%}
}

#main-body-tag {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
        "header header header"
        "body body chat";

  margin: 0%;
  padding: 0%;
  gap: 0%;
  grid-template-rows: auto;
  background-image: radial-gradient(var(--light-purple), var(--dark-purple));
}
.main-header {
  grid-area: header;
  align-items: center;
  z-index: 1;
  overflow: visible;
}
.main-content {
  min-block-size: 100dvh;
  grid-area: body;
  align-items: center;
  z-index: 0;
}
#main-chat {
  grid-area: chat;
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
  /* TODO this shouldn't have a background color */
  background-color: rgb(255,100,100);
  margin-right: 0%;
  padding-right: 0%;
  justify-self: right;
}
#main-chat .chat {
  visibility: hidden;
}
#main-chat.expand {
  width: 10em;
}
