#lobby-body button:hover{
   transform: scale(1.05);
}

#lobby-body h1, h2 {
    color: white;
}

#lobby-body p {
    color: white;
}


#lobby-body {
    /*Set up Grid layout*/
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 0;
    
    margin: 0%;
    min-block-size: 100dvh ;
}

#carpet-div {
    background-image: url('RedVelvetCarpet.jpg');
    /* Set the Carpet to cover the whole middle column*/
    grid-row: 1/4; /* Start at row line 1 end at row line 4 */
    grid-column: 2/2;
    /*Misc Formatting*/
    margin-top: 0%;
}

.lobby-main {
    padding: 1.25rem;
    position: relative;
    align-self: top;
    grid-row: 1/3;
    grid-column: 2/2;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Specific Game links: */
#horse-racing {
    grid-row: 1/1;
    grid-column: 3/3;
    justify-self: center;
    align-self: center;
    
}
#horse-racing h2 {
    color: #2d2d2d;
    transition: color 0.25s ease-in;
}
#horse-racing button {
    display: inline-grid;
    cursor: pointer;
    font-size: large;
    justify-items: center;
    border: none;
    border-radius: 8rem;
    line-height: 1.5rem;
    width: 23rem;
    height: 15rem;
    margin-top: 1rem;
    transition: all 0.25s ease;
    animation: horse-racing-background-animation 1s linear infinite paused, 
                horse-racing-animated-text 1s ease-in-out infinite alternate paused;
    background-repeat: repeat-x;
    background-image: url("horse1.png"), url("track.png");
    background-size: 50%, 50%;
}
#horse-racing button:hover{
    animation-play-state: running;
}
#horse-racing button:hover h2{
    color: var(--dark-gold);
}

#roulette {
    grid-row: 1/1;
    grid-column: 1/1;
    justify-self: center;
    align-self: center;
    transition: all 0.25s ease;
}

#roulette:hover {
    transform: scale(1.05);
}

#blackjack {
    grid-row: 2/2;
    grid-column: 1/1;
    justify-self: center;
    align-self: center;
    width: max-content;
    animation-play-state: paused;
    text-align: center;
}

@keyframes horse-racing-animated-text {
    from {
        font-size: 100%;
    }
    to {
        font-size: 110%;
    }
}

@keyframes horse-racing-background-animation {
    from {
      /* The first arguments are for the horses image, and the second for the track*/
      background-position: 0% 90%, 100%; 
    }
    to {
      background-position: 200% 90%, 0%;
    }
}